.bsp
.idea
target
.bloop/*
*/.bloop/*
.bsp/*
.metals/*
.vscode/*
*/target/*
project/target/*
project/project/target/*
datasets
benchmarks/job-large/cardinalities
experiment-results/join-trees
src/main/scala/*/.scala-build